
  
  .container-mainpage {
    padding: 50px 50px 75px 100px;
    text-align: center;
    width: auto;
    height: 743px;
    background-color: #121212;
    color: azure;
  }
.sub-container-mainpage {
  padding: 250px 70px 50px 100px;

}