.container-contact {
    text-align: center;
    width: auto;
    height: 743px;
    background-color: #121212;
    color: azure;
  }
  .sub-container {
    padding: 50px 50px 75px 100px;
    justify-content: space-around;
  }