.container-aboutme {
    width: auto;
    height: 743px;
    background-color: #121212;
    color: white;
    padding: 50px 50px 75px 100px;

  }
  .sub-container {
    padding: 50px 50px 75px 100px;
  }